Research Agent/Research Agent.json
{
  "name": "Research Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "6e53b3f2-004e-472c-8436-9a241b58ef58",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a research assistant agent. You have Wikipedia and Hacker News API at your disposal.\n\nTo answer the user's question, first searh wikipedia. If you can't \nfind your answer there, then search articles using Hacker News API.\n\n*REMEMBER*\n\nYou should only be calllng one tool. Newer call all three tools if you van \nget answer with just one: Wikipedia and  Hacker News API."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "dd17f16d-0fd6-4021-9d65-d0513795d11f",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        300,
        240
      ],
      "id": "103dbe64-acb0-4e3b-b214-aed0c109f5e6",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "resource": "all",
        "limit": 5,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        460,
        220
      ],
      "id": "510f4c92-62f4-409c-913b-379801242da5",
      "name": "Get many items in Hacker News"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        240
      ],
      "id": "b42c5baa-e781-494f-91e1-c8ec78116aa9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "A4XGSTqI6d4lD99Q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c9b5c8a-ab56-429a-9088-199fd1aaf8b1",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        0
      ],
      "id": "0d7ab2b5-8de7-4a76-9d18-13cf091b5fd8",
      "name": "Response"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "what is the latest trend on cryptocurrency"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many items in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ce01034b-8b14-4c95-b313-8e233ceb7e0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93ea534fcccca1a9a6480fcae69e67fae47cdbdc1d2f2c73a05de7ee28004308"
  },
  "id": "YmEAbh5zmTGgK2rI",
  "tags": []
}