Personal assistant/Calender Agent.json
{
  "name": "Calender Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "dbac7c30-5062-4789-a369-25143d12a235",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a calendar assistant. You have access to multiple tools to\ntake any action within calendar. Here is the current date/time: 22 July 2025/2:28pm\n\nCreate Event:\n\nIf an end date isn't specified for the event, assume It will be 60 minutes long. use this tool if there is no attendee specified.\n\nCreate Event with Attendee: \n\nIf an end date isn't specified for the event, assume it will be 60\nminutes long. Use this tool WHEN AN ATTENDEE IS SPECIFIED.\n\nGet Event: \n\nUse this tool to get events from a certain day and summarize them"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "8b7050cf-4ad3-4bd5-ab01-fdcf70a27040",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        180
      ],
      "id": "dae1e91a-298c-4869-a182-6faeb1dc13be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Sto4g9sD8OQU3SdE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jesutofunmiomoike@gmail.com",
          "mode": "list",
          "cachedResultName": "jesutofunmiomoike@gmail.com"
        },
        "start": "={{ $fromAI('startTime') }}",
        "end": "={{ $fromAI('endTime') }}",
        "additionalFields": {
          "summary": "={{ $fromAI('startTitle') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        200
      ],
      "id": "acb77deb-5a74-43af-a2da-aae96ff13152",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9mvq0tJBJJk6Xfye",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jesutofunmiomoike@gmail.com",
          "mode": "list",
          "cachedResultName": "jesutofunmiomoike@gmail.com"
        },
        "start": "={{ $fromAI('startTime') }}",
        "end": "={{ $fromAI('endTime') }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI('attendee') }}"
          ],
          "summary": "={{ $fromAI('startTitle') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        200
      ],
      "id": "5d3fbb48-724c-4739-85a6-76dd3bd54dd2",
      "name": "Create an event in Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9mvq0tJBJJk6Xfye",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "jesutofunmiomoike@gmail.com",
          "mode": "list",
          "cachedResultName": "jesutofunmiomoike@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $fromAI('oneDayBefore' , 'one day before the user requested') }}",
        "timeMax": "={{ $fromAI('oneDayAfter' , 'one day after the user requested') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        660,
        200
      ],
      "id": "33e4d67a-91df-4d06-b583-42eccead0e7e",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9mvq0tJBJJk6Xfye",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f426db0e-aac0-4ca4-9ebd-87e1fdab19c5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        0
      ],
      "id": "9c93a83d-d225-46dc-8911-8a16a90bbebd",
      "name": "Response"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "get my events from today"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b372af48-46cd-4421-b584-ed03317844c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93ea534fcccca1a9a6480fcae69e67fae47cdbdc1d2f2c73a05de7ee28004308"
  },
  "id": "nhtSZYTJ9qSSsbke",
  "tags": []
}